/**Header styling for index.html**/
#menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu-header-text {
    text-align: center;
}
#menu-title {
    font-family: 'Times new roman';
    font-size: 70px;
}
#menu-title-alt {
    font-family: impact;
    position: relative;
    bottom: 50px;
    font-size: 40px;
}
/**Mid section styling for index.html**/
#menu-text-box {
    width: 30%;
    position: absolute;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 0;
    height: 450px;
    overflow-y: scroll;
}
#menu-buttons {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    align-items: center;
    gap: 30px;
}
.menu-item {
    text-decoration: none;
}
/**Footer styling for index.html**/
#menu-footer {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    background: grey;
    padding-top: 5px;
}
#menu-footer-symbol {
    display: flex;
    margin-right: 10px;
    gap: 10px;
#contact-item {
text-decoration: none;
color: pink;
}