
/**Header styling for index.html**/
#menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;

}
#menu-header-text {
    text-align: center;
    width: 100%;
}
#menu-title {
    font-family: 'Times new roman';
    color: white;
    font-size: 80px;
}
@media only screen and (max-width: 1000px){
    #menu-title {
        font-size: 9vw;
    }
}
/**Mid section styling for index.html**/
.mid-section {
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
}
#scroll {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 33%;
    position: relative;
}
#menu-text-box {
    display: flex;
    width: 80%;
    position: relative;
    font-weight: 400;
    text-align: center;
    font-size: 1.7vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#scroll-img {
    position: absolute;
    width: 100%;
    max-height: 100%;
}
#menu-buttons {
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    align-items: center;
    width: 33%;
    gap: 4vw;
}
.menu-item {
    text-decoration: none;
    color: #ffea00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#htp {
    width: 50%;
    height: 50px;
    min-width: 70px;
    font-size: 50%;
}
@media only screen and (max-width: 1000px){
    #menu-text-box {
        font-size: 2.2vw;
    }
}
@media only screen and (max-width: 700px){
    .mid-section {
        flex-direction: column;
    }
    #scroll {
        height: 70%;
        width: 50%;
        min-width: 300px;
    }
    #menu-text-box {
        font-size: 1rem;
    }
    #menu-buttons {
        font-size: 2rem;
        text-align: center;
    }
}
/**Footer styling for index.html**/
#menu-footer {
    display: flex;
    justify-content: space-between;
    background: #b30000;
    align-items: center;
    width: 100%;
    height: 10%;
}
#menu-footer-symbol {
    display: flex;
    width: 20%;
    margin-right: 10px;
}
.symbol-item {
width: 70%;
}
#contact-item {
text-decoration: none;
color: #ffc0cb;
text-align: center;
}
/**Popup window for How to play in index.html**/
#popup {
    display: none;
    position: fixed;
    align-items: center;
    text-align: center;
    z-index: 1;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 80%;
    background-color: rgb(250, 200, 115);
    border: 10px solid black;
}
#top-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
#close {
    cursor: pointer;
}
/**username.html styling**/
#username-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
    gap: 20px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.355);
}
label, input{
    width: 80%;
    height: 10%;
}
/**Game styling**/
#game-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: brown;
}
#score {
    font-size: 2vw;
    width: 25%;
}
#usrnm {
    font-size: 40px;
}
#menu-button {
    width: 25%;
    font-size: 40px;
    color: black;
    text-decoration: none;
}
#game-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60%;
    width: 100%;
    margin-top: 20px;
}
.game-item {
    width: 250px;
    height: 250px;
    border: 7px solid black;
    border-radius: 150px;
    background-size: cover;
}
#game-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#game-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}
#results {
font-size: 60px;
background-color: azure;
border: 7px solid black;
}
#choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}
.choice-item {
height: 120px;
width: 120px;
border-radius: 100px;
}
#rock {
    background-image: url("assets/images/rock.jpg");
    background-size: cover;
}
#paper {
    background-image: url("assets/images/paper.jpg");
    background-size: cover;
}
#scissors {
    background-image: url("assets/images/scissors.png");
    background-size: cover;
}
#cyclops {
    background-image: url("assets/images/cyclops.png");
    background-size: cover;
}
#spock {
    background-image: url("assets/images/spock.png");
    background-size: cover;
}
#game-info {
    width: 10%;
}
@media only screen and (max-width: 1000px){
    #game-mid {
        flex-direction: column;
    }
    .choice-item {
        width: 20vw;
        height: 20vw;
        }
        #score {
            font-size: 4vw;
        }
}
@media only screen and (max-width: 700px){
    .choice-item {
        width: 20vw;
        height: 20vw;
}
}