/**Header styling for index.html**/
#menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px;
}
#menu-header-text {
    text-align: center;
}
#menu-title {
    font-family: 'Times new roman';
    font-size: 70px;
    color: white;
}
#menu-title-alt {
    font-family: impact;
    position: relative;
    bottom: 50px;
    font-size: 40px;
}
/**Mid section styling for index.html**/
.mid-section {
    display: flex;
    justify-content: left;
    height: 601px;
}
#menu-text-box {
    display: flex;
    position: relative;
    top: 20px;
    width: 80%;
    height: 60%;
    text-align: center;
}
#scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
    position: relative;
    font-size: 1.8vw;
}
#scroll-img {
width: 100%;
height: 100%;
position: absolute;
}
#menu-buttons {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    gap: 30px;
    width: 33%;
}
.menu-item {
    text-decoration: none;
}
/**Footer styling for index.html**/
#menu-footer {
    display: flex;
    justify-content: space-between;
    background: rgb(179, 0, 0);
    padding-top: 5px;
    align-items: center;
}
#menu-footer-symbol {
    display: flex;
    margin-right: 10px;
    gap: 10px;
    width: 180px;
}
#contact-item {
text-decoration: none;
color: pink;
}